#ariana{
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color: slategrey;
    


}
.zivot{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: slategrey;
    
}
#karijera{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 190%;
    color: slategrey;
}
.pocetak{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: slategrey;
    
}
.slika11{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    background-color: black;
}
.sp{
    background-color: blanchedalmond;
    color: black;
}
#wiki{
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    color:slategray ;

}
#pje{
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    color:slategray ;
    text-align: center;

}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
